body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#heading {
    padding: 20px;
    height: 30px;
    margin-bottom: 10px;
    background: #dddddd;
    border: 1px solid darkGray;
}

#footer {
	clear: both;
    padding: 5px;
    height: 15px;
    background: #dddddd;
    border: 1px solid darkGray;
}

#sidebarLeft {
    border: thin solid lightGray;
    padding: 5px;    
    float:left;
    width: 17%;
    background: #eeeeee;
    margin-bottom: 10px;
}

#sidebarLeft a {
    margin-bottom: 10px;
    display: block;
}

#content {
    padding: 5px;
    border: thin solid lightGray;
    background-color: LightBlue;
    float: right;
    width:80%;
    margin-bottom:10px;
}

.header {
    font-size: 1.4em;
    font-style: italic;
    font-family: Palatino;
    text-align: center;
}

a {
    color: DarkGray;
    font-size: small;
}
a:hover {
	color: LightBlue;
}


.ui-widget {
    font-family: Arial,sans-serif;
    font-size: small;
}